<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">About Us</h5>
                    <ul>
                    <li><a href="" class="footer-link">Location</a></li>
                    <li><a href="" class="footer-link">Address</a></li>  
                    </ul>   
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">Contact Us</h5>
                    <ul>
                    <li><a href="" class="footer-link">Location</a></li>
                    <li><a href="" class="footer-link">Address</a></li>  
                    </ul>   
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">Contact Us</h5>
                    <ul>
                    <li><a href="" class="footer-link">Location</a></li>
                    <li><a href="" class="footer-link">Address</a></li>  
                    </ul> 
                    <div class="social-links">
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="" class="twitter"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="twitter"><i class="fa fa-linkedin"></i></a>
                    </div>  
                </div>
                <div class="col-lg-3 col-md-6 footer-news-letter">
                    <h5 class="">Our NewsLetter</h5>
                    <form>
                    <input type="email" name="email" ><input type="submit" value="Subscribe">
                    </form>   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright  <strong>Kigali Shop</strong>. All Right Reserved
        </div>
        <div class="credits">
            Designed by <a href="">Kigali Shop</a>
        </div>
    </div>
</footer>